/*
===================================================
application.css
===================================================
This CSS file is for application specific formatting. 
Formatting which is done in this file will overwrite the formatting of the bosch.css 
*/

.right { text-align: right; } 

.exercisePanel {color: #66F;}
td {color: #66F;}


        
#footer {
       position: absolute;
       bottom:0;
       width: 100%;
       height: 50;	
		}
		
#headerLogo{
	text-align: right;
	float:right;
	margin-top:0;
	
	}